*{
  /* margin: 0; */
}
body{
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  background-image: url('./Images/background.jpg');
}
.navbar{
  padding: 5px !important;
}
.text-white-smoke{
  color: whitesmoke;
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.carouselimage{
  width: 50px;
  height: 350px;
}